
*{
    margin:0;
    padding: 0;
}



html{
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
}




header{
    background-color: red;
    text-align: center;
}
main{
    background-color: aqua;
}
footer{
    background-color: red;
    padding: 10px 50px;
}
#about{
    background-color: aqua;
    padding: 10px  50px;
    text-align: center;
    font-style: italic;
    border: 30px solide black;
}
#articles{
    background-color: aqua;
    padding: 10px  50px;
}
p{
    text-align: justify;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: .0.9rem;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.4rem;
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: blue;
}
#content{
    padding: 10px 50px;
}
#equipment {
    text-align: center;
}
#articles a:link{
    color:red;
}
#articles a:hover{
    color: green;
}
#articles a:focus{
    color: blue;
}

#articles a:active{
    color: black;
}

p:lang(ru){
    text-decoration: underline;
}

p:lang(en){
    text-transform: uppercase;
}

#about h2:after{
    content:"new";
    font-size: 20px;
    color: red;
    margin-left: 10px;
}
/* #articles:after{
    content:"Важно!";
    font-size: 20px;
    color: blue;
    margin-left: 10px;
    background-color: red;
    border: 2px solid blue;
} */

.menu-articles{
    text-align: center;
    background-color:  yellow;
}
a:hover{
    color: green;
}
a:focus{
    color: blue;
}

#about p{
    border: red solid 2px;
    color: blue;
   }

#termins:after{
    content:"Важно!";
    font-size: 20px;
    color: red;
    margin-left: 10px;
    color: blue;
    margin-left: 10px;
    background-color: red;
    border: 2px solid blue;
}











.bill-table{
    border: 3px red solid;
    border-collapse: collapse;
}
.bill-table td,
.bill-table th{
border: 1px black solid;
padding: 5px 20px;

}
.bill-table td:nth-child(3){
    text-decoration: underline;
}
#reg-form input [type=text],
#reg-form input[type=password]{
    border: 1px solid blue;
    background: lightcoral;
    border-radius: 5px;
    padding: 5px 20px;
    min-width: 180px;
    color: darkblue;
}
#futr img{
    border: 2px solid black;
    
}
h3+img{
    margin-top: 50px;
}
p::first-line{
    letter-spacing: 3px;
}
th{
    color: blue;
}
td:nth-child(3){
    background-color: orange;
}
tr:nth-child(even){
    background-color: royalblue;
}
#contact-form input[type="text"]{
    height: 15px;
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #c8b0df;
}
#contact-form input[type="email"]{
    height: 15px;
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
.form_item [type=submit]{
    background-color: rgb(170, 157, 157);
    color:blue;
    height: 35px;
    width: 120px;
    padding: 5px;

    
}
.form_item [type="submit"]:hover{
    background-color: #eddfff;

}
form{
    border: 2px solid #53148d;
    background-color: #53148d;
    width: 230px;
    border-width: 10px;
    color: white;
    font-style: oblique;
    font-size: large;
    padding: 10px;
    margin: auto;
}    
    
    